* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Fredoka', sans-serif;
  font-size: 18px;
  background: #161623;
  color: #dbdbdb;
  text-align: center;
}

#root {
  display: grid;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* gap: 25px; */
}

#root::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80vw;
  height: 80vw;
  max-width: 450px;
  max-height: 450px;
  transform: translate(-30%,-5%);
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
}

#root::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 60vw;
  height: 60vw;
  max-width: 350px;
  max-height: 350px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  right: 0;
  bottom: 0;
  transform: translate(30%);
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  position: relative;
  overflow: hidden;
  gap: 25px;
}

@media (min-width: 1024px) {
    #root {
        grid-template-columns: 1fr 1fr;
    }
    
}
